@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{

    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}
.caixa{
    padding: 5% 0 0 15%;
}
.menu{
   display:flex;
   gap: 80px;
}
.menu__l{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600 ;
    color: #22D4FD;
    gap: 30px;
}
.menu__l:hover{
    color: #22D4FD;
    text-decoration: dashed;
}
.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.1px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #023953
}
.imagem__minha{
   border-radius: 10%;
   border: 4px outset #033575;
   width: 50%;
   
}
.apresentacao__subititulo{
    font-family: "krona one, sans-serif";
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__link:hover{
    background-color: #685823;
}
.rodape{
    color:#070707;
    background-color: #0887a3;
    padding: 22px;
    text-align: center;
    font-size: 1.5rem;
    font-family: "montserrat",sans-serif;

}
@media (max-width: 1200px) {
    .caixa{
        padding: 7%;
    }
    .menu{
        justify-content:center ;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}